* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

main {
.seller-buyer-info {
    display: flex;
    justify-content: space-around;
}

table, th, td {
    border: 1px solid;
  }
  table {
    justify-self: center;
    width: 65%;
    border-collapse: collapse;
  }

section .summary {
    // display: flex;
    // flex-direction: column;
    align-items: center;
}
}